@model NSC_project.Models.NSCViewModels.TicketData
@using Microsoft.AspNetCore.Http
@using NSC_project.Extentions;

@{
    ViewData["Title"] = "Ticket";

    //Get object from session
    var mySessionObject = Context.Session.GetObjectFromJson<UserSession>("UserDetails");
}

<section class="section mt-5">
    <div class="container">
        <div class="row">
            @foreach (var item in Model.Movies)
            {
                if (item.Id == (int?)ViewData["MovieID"])
                {
                    <!-- title -->
                    <div class="col-12">
                        <h1 class="details__title">@item.Title</h1>
                    </div>
                    <!-- end title -->
                    <!-- content -->
                    <div class="col-12 col-md-12">
                        <div class="card card--details"
                     style="border: none; align-items: center;background-color: #2b2b31 !important;">
                            <!-- card cover -->
                            <div class="card__cover" style="background-color: #2b2b31 !important;">
                                <img src="~/img/@item.Image" alt="@item.Title">
                            </div>
                            <!-- end card cover -->
                            <!-- card content -->
                            <div class="card__content "
                         style="background-color: #2b2b31 !important; margin-left: 0; padding-left: 20px; width: 100%;">
                                <div class="card__wrap">
                                    <span class="card__rate"> 8.4</span>

                                    <ul class="card__list">
                                        <li>HD</li>
                                        <li>16+</li>
                                    </ul>
                                </div>

                                <ul class="card__meta">
                                    <li>
                                        <span>Director:</span>
                                        <a href="#">@item.Director</a>
                                    </li>
                                    <li><span>Actor:</span> @item.Actor</li>
                                    <li><span>Opening Date:</span> @item.Opening_date</li>
                                    <li><span>Duration Min:</span> @item.Duration_min</li>
                                    <li><span>Genre:</span> @item.Genre</li>
                                    <li><span>Description:</span> @item.Description</li>
                                </ul>
                            </div>
                            <!-- end card content -->
                        </div>
                    </div>
                    <!-- end content -->
                }
            }
        </div>
        <form asp-action="CreateTicket" class="row mt-5">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="line-space ticket-chose-item mt-4">
                <div class="tilte-chose-ticket">
                    <h3>City</h3>
                </div>
                <div class="container mt-3">
                    <div class="row city-item">
                        @if (Model.TheaterAddresses != null)
                        {

                            @foreach (var item in Model.TheaterAddresses)
                            {
                                <label>
                                    <span>@Html.ActionLink(item.Address, "Ticket", new { theaterAddressId = item.Id })</span>
                                    <input class="form-check-input" type="checkbox"
                                   name="selectedTheaterAddress"
                                   @(Html.Raw(ViewBag.theaterAddressId == item.Id ? "checked=\"checked\"" : "")) />
                                </label>
                            }
                        }
                    </div>
                </div>
            </div>


            <div class="line-space ticket-chose-item mt-4">
                <div class="tilte-chose-ticket">
                    <h3>Theater</h3>
                </div>
                <div class="container mt-3">
                    <div class="mx-2">
                        <div class="mt-3">
                            <div class="row time-room-list py-3">
                                @if (Model.Theaters != null)
                                {
                                    @foreach (var item in Model.Theaters.DistinctBy(t => t.Id))
                                    {
                                        <label>
                                            <span>@Html.ActionLink(item.Location, "Ticket", new { theaterAddressId = item.TheaterAddressId, theaterId = item.Id})</span>
                                            <input class="form-check-input" type="checkbox"
                                           name="selectedTheater"
                                           @(Html.Raw(ViewBag.theaterId == item.Id ? "checked=\"checked\"" : "")) />
                                        </label>
                                    }
                                }
                                else
                                {
                                    <div class="emty-data">
                                        <span>Vui lòng lựa chọn thành phố!</span>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="line-space ticket-chose-item mt-4">
                <div class="tilte-chose-ticket">
                    <h3>Room</h3>
                </div>
                <div class="container mt-3">
                    <div class="mx-2">
                        @if (Model.Auditoriums != null)
                        {
                            @foreach (var item in Model.Auditoriums.DistinctBy(a => a.Id))
                            {
                                var theaterAddressId = Model.Theaters.Where(m => m.Id == item.TheaterId).First().TheaterAddressId;
                                var screenings = Model.Screenings.Where(m => m.AuditoriumId == item.Id).ToList();
                                <div class="room-ticket-item mt-3">
                                    <h5>@item.Name</h5>

                                    @foreach (var screening in screenings)
                                    {
                                        <div class="row time-room-list py-3">
                                            <label>
                                                <span> @Html.ActionLink(screening.Time.ToString("dd-MM-yyyy hh:mm tt"), "Ticket", new { theaterAddressId = theaterAddressId, theaterId = item.TheaterId, auditoriumId = item.Id, screeningId = screening.Id }) </span>
                                                <input class="form-check-input" type="checkbox" name="selectedScreening" value="@screening.Id"
                                                @(Html.Raw(ViewBag.screeningId == screening.Id ? "checked=\"checked\"" : "")) />
                                            </label>
                                        </div>
                                    }
                                </div>
                            }
                        }
                        else
                        {
                            <div class="emty-data">
                                <span>Vui lòng lựa chọn rạp chiếu!</span>
                            </div>
                        }
                    </div>
                </div>
            </div>






            <!-- Select Seats -->
            @{
                
                    List<NSC_project.Models.NSCViewModels.SeatData> seats = ViewBag.Seats;
                    if (seats != null)
                    {
                    @if (mySessionObject != null)
                    {
                        <div class="line-space container seat-ticket mt-5">
                            <div class="seat-screen col-12 my-5">SCREEN</div>
                            <div class="row mt-3">
                                @foreach (var seat in seats)
                                {

                                    if (!seat.Assigned)
                                    {
                                        <label class="form-check-label col-1 seat-ticket-item">
                                            <span>@seat.Number</span>
                                            <input type="checkbox"
                                   name="selectedSeats"
                                   value="@seat.SeatID"
                                   @(Html.Raw(seat.Assigned ? "checked=\"checked\"" : "")) />
                                        </label>
                                    }
                                    else
                                    {
                                        <div class="col-1 seat-ticket-item selected">
                                            <span>@seat.Number</span>
                                        </div>
                                    }
                                }

                            </div>
                            <div class="row seat-deatail-pa mt-5">
                                <div class="seat-deatail col-4" style="--bg-seat-tic: gray;">
                                    <div></div>
                                    <p>Selected</p>
                                </div>
                                <div class="seat-deatail col-4" style="--bg-seat-tic: #df507a;">
                                    <div></div>
                                    <p>Select</p>
                                </div>
                                <div class="seat-deatail col-4" style="--bg-seat-tic: transparent;;">
                                    <div style="border: 1px solid white"></div>
                                    <p>Empty</p>
                                </div>
                            </div>
                        </div>
                        <div class="ticket-submit">
                            <button type="submit">Ticket</button>
                        </div>
                    }
                    else
                    {
                        <div class="modal-login">
                            <div class="modal-main">
                                <button type="button"><i class="fa-solid fa-xmark"></i></button>
                                <div class="modal-main-title pt-3">
                                    <h3>Please login or register to use the service</h3>
                                </div>
                                <div class="modal-main-btn">
                                    <a asp-controller="Accounts" asp-action="Register" class="btn">Register</a>
                                    <a asp-controller="Accounts" asp-action="Login" class="btn btn-primary">Login</a>
                                </div>
                            </div>
                        </div>
                    }
                    }
                
            }

        </form>

    </div>
</section>
<!-- end content -->